.videoCard {
  margin-bottom: 40px;
  width: 270px;
}

.videocard__thumbnail {
  height: 140px;
  width: 250px;
  margin-right: 10px;
}

.videoCard__info {
  display: flex;
}

.videoCard__text {
  margin-left: 10px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.videoCard__text > p {
  font-size: 14px;
  color: gray;
}

.videoCard__avatar {
  height: 30px !important;
  width: 30px !important;
}
